*.dll
*.dll.*
*.so
*.exp
*.rock
*.gcov
*.gcda
*.gcno
*.pb
*.dSYM
*.out
test*.lua
lua*/
test*
*.natvis
out*

# lkwd
*~
*#
.#*
Makefile
Makefile.in
aclocal.m4
build-aux
autom4te.cache
config.log
configure
config.status
rockspecs/lua-protobuf-lkwd.rockspec
config.h
config.h.in
.deps
.libs
libtool
pb.la
pb.lo
pb.o
stamp-h1
rockspecs/lua-protobuf-lkwd-*.rockspec
lua-protobuf-lkwd-*.tar.gz
lua-protobuf-lkwd-*.tar.xz
